<section>
    <p>
        HEROSECTION
    </p>

    <p>
        This is the herosection 
    </p>
    
        <% data.forEach(community=>{ %>
            <p ><%= community.name %></p>
            <p><%= community.year %></p>
            <p><%= community.socials %></p>
        <% }) %>
    
</section>